[submodule "starship.yazi"]
	path = yazi/plugins/starship.yazi
	url = https://github.com/Rolv-Apneseth/starship.yazi
	branch = main
[submodule "topiary"]
	path = topiary
	url = https://github.com/blindFS/topiary-nushell
