# version: 1.0.0
"$schema" = 'https://starship.rs/config-schema.json'

#Inserts a literal new line
add_newline = true

continuation_prompt = "[├─ ](dimmed white)"

command_timeout = 10000

format = """
$shell\
$username\
$directory\
$git_branch\
$git_status\
$git_metrics\
$cmd_duration
$character"""

right_format = """
$c\
$cpp\
$cmake\
$dotnet\
$golang\
$lua\
$nodejs\
$php\
$python\
$rust\
$battery\
$time"""


# Fills the prompt with the given character
[fill]
symbol = ' '

[battery]
format             = "[$percentage $symbol]($style) "
full_symbol        = "󰁹 "
charging_symbol    = "󰂄 "
discharging_symbol = "󰂃 "
unknown_symbol     = "󰁽 "
empty_symbol       = "󰂎 "

[[battery.display]]
threshold = 20
style     = "italic bold #e06c75"

[[battery.display]]
threshold = 60
style     = "italic dimmed #c678dd"

[[battery.display]]
threshold = 70
style     = "italic dimmed #e5c07b"

[character]
format         = "$symbol "
success_symbol = "[](bold green)"
error_symbol   = "[](bold red)"

[cmd_duration]
format = "ran in [$duration]($style) "

[directory]
format      = "[$path]($style)[$read_only]($read_only_style) "
home_symbol = "~"
read_only   =" "

[time]
disabled = false
format = " [$time]($style)"
time_format = "%R"

[username]
style_user = "bold italic"
style_root = "bold italic"
format = "[ $user]($style) "
disabled = false
show_always = true
aliases = { "bwilliams" = "justbarnt" }

[shell]
disabled = false

[git_branch]
symbol = " "
format = "[$symbol$branch(:$remote_branch)]($style) "
style = "bold purple"
truncation_length = 20
truncation_symbol = "…"

[git_status]
format = '([\[$ahead_behind$staged$modified$untracked$renamed$deleted$conflicted$stashed\]]($style) )'
style = "bold red"
conflicted = "="
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?${count}"
stashed = "≡"
modified = "!${count}"
staged = "+${count}"
renamed = "»${count}"
deleted = "✘${count}"

[git_metrics]
disabled = false
added_style= "bold green"
deleted_style = "bold red"
only_nonzero_diffs = true
format = "([+$added]($added_style) )([-$deleted]($deleted_style) )"

[c]
symbol = " "
format = "[$symbol($version(-$name) )]($style)"
version_format = "${major}.${minor}"
disabled = false

[cpp]
symbol = " "
format = "[$symbol($version(-$name) )]($style)"
version_format = "${major}.${minor}"
disabled = false

[cmake]
symbol = " "
format = "[$symbol($version )]($style)"
version_format = "${major}.${minor}"
style = "bold blue"

[golang]
symbol = " "
format = "[$symbol($version )]($style)"
version_format = "${major}.${minor}"

[lua]
symbol = "󰢱 "
format = "[$symbol($version )]($style)"
version_format = "${major}.${minor}"

[nodejs]
symbol = " "
format = "[$symbol($version )]($style)"
version_format = "${major}.${minor}"

[php]
symbol = " "
format = "[$symbol($version )]($style)"
version_format = "${major}.${minor}"

[python]
symbol = " "
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
version_format = "${major}.${minor}"
pyenv_version_name = false

[rust]
symbol = " "
format = "[$symbol($version )]($style)"
version_format = "${major}.${minor}"

[dotnet]
symbol = " "
format = "[$symbol($version )]($style)"
version_format = "${major}.${minor}"
